# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Streamlit
.streamlit/

# VS Code
.vscode/

# Python cache
.pytest_cache/

# Uploaded PDFs
uploads/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Vector database
vectorstore/

# Generated BM25 indexes
app/indexes/*.pkl