# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# Environment / secrets
.env
.env.*

# Generated vector database
vectorstore/
qdrant_storage/

# Generated indexes
app/indexes/*.pkl

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db